
body{
    position: relative;
}

/* Links for the nav */
#links {
    height: 30px;
    width: 98%;
    margin: auto;
    /* background-color: palegreen; */
    text-align: right;
}

#links > a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}

#links > a:hover{
    text-decoration: underline;
    color: blue;
}

/* Contianer to use flexbox */
#container{
    width: 100%;
    height: 500px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div to move the logo and the form together */
#middle{
    width: 100%;
    /* margin: auto; */
    /* background-color: blue; */
    /* position: absolute;
    top: 120px; */
}

/* The logo and the form */
#logo {
    width: 98%;
    height: 100px;
    margin: auto;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

#form {
    width: 98%;
    height: 150px;
    margin: auto;
    /* background-color: orchid; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    width: 500px;
    padding: 10px 30px;
    border-radius: 20px;
    border: solid grey 1px;
    margin-bottom: 30px;
    outline: none;
    background-image: url(../images/searchbox.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size:22px;
}

.input:hover{
    box-shadow: 1px 1px #b1b1b1;
}

.input:focus{
    outline: hidden;
}
#buttons{
    width: 300px;
    height: 50px;
    /* background-color: yellow; */
    margin-left: 150px;
    margin-top: -2px;
}

.button{
    margin-left: 5px;
    padding: 7px;
    border: solid 1px white;
}

.button:hover{
    border: solid 1px grey;
}

/* For the images page */
#logo > p{
    position: absolute;
    bottom: -10px;
    left: 825px;
    color: blue;
}

#form input[type="image"]{
    position: absolute;
    right: 475px;
    top: 48px;
}